-i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
Flask
Flask-SQLAlchemy
gevent
PyMySQL
gunicorn
smart-getenv
requests
kazoo
elasticsearch-dsl>=5.0.0,<6.0.0
flask-jwt
oss2
Pillow
Flask-Excel
